NEXT_PUBLIC_SITE_URL=YOUR_SITE_URL_HERE
GOOGLE_SHEET_URL=YOUR_GOOGLE_SHEET_URL_HERE
RESEND_API_KEY=YOUR_RESEND_API
PRIVATISATION_TO_EMAIL=YOUR_EMAIL@EMAIL.COM
PRIVATISATION_FROM_EMAIL=YOUR_SENDER_EMAIL@EMAIL.COM