@import "tailwindcss";

@theme inline {
  --color-primary: #ffffff; /*white*/
  --color-secondary: #221e1f; /*black*/
  --color-tertiary: #c04c27; /*orange*/
  --font-helvetica: var(--font-helvetica);
}
